@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans+Narrow:wght@400;700&display=swap');

html {
    box-sizing: border-box;
}

body {
    background: #1B8D8f;
    margin: 1em;
}

header.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 1.4em;
    text-align: center;
    background: #5e3d2e;
    color: white;
    border-radius: 10px;
    padding: 0.4em;
}

p {
    font-family: "Open Sans", sans-serif;
    padding: 1em;
    text-align: justify;
}

.container {
    display: flex;
}

.container nav {
    font-size: 1.6em;

}

nav a {
    text-decoration: none;
    color: white;
    font-family: "Open Sans", sans-serif;
}

.container img {
    border-radius: 10px;
}

aside {
    background: white;
    flex-basis: 30%;
}

nav {
    font-size: 1.6em;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1em;
    padding: auto;
    background: #613B31;
}

section {
    flex-basis: 70%;
}

section img {
    margin: 0.5em;
    width: 80%;
}

a {
    padding: 1em;
}

section p {
    color: white;
}

aside h2 {
    margin: 1em;
}

aside p {
    word-spacing: 0.2em;
}

a:hover {
    background: rgb(155, 153, 153);
    
}